.feed {

  display: flex;
  flex-direction: row;
  justify-content: start;
  overflow-x: scroll;

  &__item {
    display: block;
    position: relative;

    img {
      opacity: 0.5;
      height: 300px;
      width: auto;
    }

    &:hover {
      img {
        opacity: 1;
      }
      .feed__caption {
        opacity: 1;
      }
    }
  }

  &__time {
    margin-top: auto;
    font-size: 0.75em;
  }

  &__caption {
    opacity: 0;
    background: rgba($dark, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 1.5em;
  }
}
