.site-footer {
  background: $dark;
  color: $light;

  &__social {
    font-size: 1.5em;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      position: relative;
    }
    a {
      display: block;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      &:hover {
        transition: all 200ms ease-in-out;
        transform: translate(-50%, -0.25em);
        font-size: 1.5em;
        text-decoration: none;
      }
    }

  }

}
